<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="coffer.androidjatpack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 掌阅需要的权限 -->
    <!-- 护眼模式权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- WO计费权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 支付宝安全监控权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <!-- 银联支付 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name="coffer.CofferApplication"
        android:allowBackup="true"
        android:icon="@drawable/coffer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/zy_network_security_config"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="main.java.coffer.MainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="coffer.animDemo.AnimActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="coffer.javaDemo.reflectdemo.ReflectActivity" />
        <activity android:name="coffer.androidDemo.customViewDemo.DrawViewActiviy" />
        <activity android:name="coffer.javaDemo.fileDemo.FileActivity" />
        <activity android:name="coffer.javaDemo.hookDemo.InvokeActivity" />
        <activity android:name="coffer.androidDemo.messageDemo.MessageTestActivity" />
        <activity android:name="coffer.adDemo.ViewPagerBannerActivity"/>
        <activity android:name="coffer.zy.NewTestMainActivity"/>
        <activity android:name="coffer.androidDemo.customViewDemo.ScrollActiviy2"/>
        <activity android:name="coffer.androidDemo.customViewDemo.FlexibleViewActiviy"/>
        <activity android:name="coffer.animDemo.AnimDemoMainActivity"/>
        <activity android:name="coffer.androidDemo.customViewDemo.CustomViewMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="coffer.androidDemo.customViewDemo.ArrangeViewActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name="coffer.jetpackDemo.JetpackMainDemo"/>
        <activity android:name="coffer.jetpackDemo.ViewPager2Activity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="coffer.jetpackDemo.MvvmActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="coffer.androidDemo.customViewDemo.GalleryActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="coffer.androidDemo.customViewDemo.DampViewActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="coffer.androidDemo.customViewDemo.ListViewActiviy"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="coffer.androidDemo.customViewDemo.MutiTypeActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="networkDemo.NetWorkActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="networkDemo.OkHttpActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="networkDemo.RetrofitActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="coffer.javaDemo.JavaMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.vivo.mobilead.web.VivoADSDKWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"> </activity>

        <meta-data android:name="vivo_ad_version_code" android:value="3201"/>

        <provider
            android:name="coffer.androidDemo.messageDemo.CofferContentProvider"
            android:process=":coffer"
            android:authorities="${applicationId}.provider" />
        <service
            android:name="networkDemo.okhttpDemo.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="coffer.androidDemo.messageDemo.BridgeService"
            android:process=":coffer" />

        <activity android:name="coffer.pluginDemo.ZyOldMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="coffer.pluginDemo.PluginMainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="coffer.pluginDemo.TestPluginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name="coffer.androidDemo.AndroidMainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name="coffer.crashDemo.CrashCollectActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service android:name="coffer.crashDemo.LogService"/>

        <provider
            android:name="coffer.provider.FileShareProvider"
            android:authorities="${applicationId}.PluginProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sharepath" />
        </provider>

        <activity android:name="coffer.androidDemo.customViewDemo.BannerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 掌阅需要的声明的组件 -->
        <activity
            android:name="com.zhangyue.iReader.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTask"
            android:process="@string/plug_process_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/IreaderTheme"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <data android:host="${applicationId}" />
                <data android:scheme="ireaderplugin" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhangyue.iReader.online.ui.ActivityOrder"
            android:configChanges="keyboardHidden|orientation|navigation"
            android:process="@string/plug_process_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.vendor.home_indicator" android:value="hide"/>
        </activity>
        <activity
            android:name="com.zhangyue.iReader.online.ui.ActivityOnline"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:process="@string/plug_process_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.Common"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.zhangyue.iReader.online.ui.ActivityDictOnline"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:process="@string/plug_process_name"
            android:theme="@style/Theme.Common"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zhangyue.iReader.read.ui.Activity_BookBrowser_TXT"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:exported="true"
            android:process="@string/plug_process_name"
            android:theme="@style/Theme.noTranslucent"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.vendor.home_indicator" android:value="hide"/>
        </activity>
        <activity
            android:name="com.zhangyue.iReader.online.ui.ActivityFee"
            android:configChanges="keyboardHidden|orientation|navigation"
            android:process="@string/plug_process_name"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.zhangyue.iReader.online.ui.ActivityReFee"
            android:configChanges="keyboardHidden|orientation|navigation"
            android:process="@string/plug_process_name"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.zhangyue.iReader.setting.ui.ActivitySettingDefault"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:process="@string/plug_process_name"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Common"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.vendor.home_indicator" android:value="hide"/>
        </activity>

        <!-- 3.6.0 -->
        <activity
            android:name="com.zhangyue.iReader.online.ui.ActivityWeb"
            android:configChanges="keyboardHidden|orientation|navigation"
            android:process="@string/plug_process_name"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.vendor.home_indicator" android:value="hide"/>
        </activity>
        <activity
            android:name="com.zhangyue.iReader.account.Login.ui.LoginActivity"
            android:allowTaskReparenting="true"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:exported="true"
            android:process="@string/plug_process_name"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.zhangyue.iReader.thirdplatform.qqpay.ui.ActivityQQPayResult"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.Common"
            android:windowBackground="@null"
            android:launchMode="singleTop"
            android:process="@string/plug_process_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwalletpaycom.chaozh.iReaderFree" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhangyue.iReader.search.ui.SearchFragmentActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:process="@string/plug_process_name"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            tools:ignore="LockedOrientationActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:process="@string/plug_process_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:process="@string/plug_process_name"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.zhangyue.iReader.main.MainActivityNight"
            android:process="@string/plug_process_name"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/IreaderTheme_night"
            android:windowSoftInputMode="adjustPan"/>
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <meta-data
            android:name="android.vendor.full_screen"
            android:value="true" />

    </application>

</manifest>